
//Colors
$red: #F54949;
$orange: #D35847;
$orange2: #C74237;
$yellow: #F5A623;
$green: rgba(107,175,28,0.8);

$light-blue: #5D99CA;
$blue: #3097D1;
$dark-blue: #2a88bd;


$white: white;
$dark-white: #f2f2f2;

$black: black;

$grey:  #898989;
$light-grey: #CECECE;

