@import 'sidebar.css';
@import 'modal.css';
@import "icons.css";

html, body {
    background-color: #f2f2f2;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    padding: 100px 60px 30px 170px;
    width: 100%;
}
.container_login {
    padding: 100px 30px 30px 30px;
    width: 100%;
}

.requirement-block{
    margin-top: 10px;
    padding:2rem 4rem ;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.requirement-row{
    border-bottom: 1px solid grey;
}

.requirement-row:last-child{
    border-bottom: none;
}

.feature-block{
    padding: 2rem 4rem;
    min-height: 110px;
}

.feature-block:first-child{
    padding-top: 1rem;
}

.header-1{
    font-size: 36px;
    margin-top: 22px;
    margin-bottom: 11px;
}

.header-3{
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

.status{
    padding: 3px 7px;
    border-radius: 80px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    vertical-align: super;
}

.header-status{
    font-size: 24px;
    padding: 5px 9px;
    border-radius: 100px;
}

.status-Draft, .status-Client{
    background-color: #417505;
}

.status-in, .status-Lead{
    background-color: #5D99CA;
}
.status-Canceled, .status-Prospect{
    background-color: #FF3300;
}

.status-Paused, .status-no-partner{
    background-color: #9B9B9B;
}

.center{
    text-align: center;
}

.feature{
    background-color: #f3f3f3;
    color: black;
}

label{
    font-weight: bold;
}
.table-description{
    width: 300px;
    text-align: left;
    height: 78px;
}


.table>tbody>tr>td, .table>thead>tr>th{
    padding-left: 35px;
}

.table>tbody>tr>td:first-child, .table>thead>tr>th:first-child{
    padding-left: 0px;
}

.breadcrumb{
    background: none;
    color: #535353;
    padding: 8px 0;
    line-height: 13px;
    font-size: 11px;
    height:13px;
}

.breadcrumb>.active{
    color: #535353;
}

.breadcrumb a{
    color: #CECECE;
}


.table td:first-child{
    height: 78px;
    width: 10px;
}

.table>tbody>tr>td{
    border-top:1px solid #CECECE;

    vertical-align: middle;
}

.table>tbody>tr{
    border-bottom:2px solid #CECECE;
}
.table td:last-child{
    border-right: 1px solid #CECECE;
}

.table tr:last-child{
    border-bottom: 1px solid #CECECE;
}


.tabletitle{
    height: 19px;
    width: 44px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.tablesubtitle{
    height: 14px;
    width: 93px;
    color: #898989;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.table>tbody{
    background-color: white;
}

.table>tbody>tr{
    background-color: white;
    height:80px;
}
.table>thead>tr>th{
    border-bottom: none;
    color:#898989;
    font-weight: 400;
}
.form-forgot-field button{
    margin-top: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-danger, .btn-save{
    height: 45px;
    width: 160px;
    color:black;
    border:none;
    border-radius: 0px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-danger, btn-danger:hover, btn-danger:focus, btn-danger:active{
    background-color: #D35847;
    color:white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: #F5A623;
    color:black;
}

.btn-save, .btn-save:hover, .btn-save:focus, .btn-save:active:focus {
    color:white;
    background: rgba(107,175,28,0.8) url("../svg/Save icon.svg") no-repeat 10px center;
    width: 97px;
    text-align: right;
    padding-right: 18px;
    text-transform: none;
    font-weight: normal;
    box-shadow: none ;
    outline: 0;
}

.btn-cancel, .btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active:focus {
    border: none;
    text-align: right;
    width: 90px;
    color: #C74237;
    background: #f2f2f2 url("../svg/Cancel icon.svg") no-repeat 15px center;
    font-size: 15px;
    margin-top: 25px !important;
    box-shadow: none;
    outline: 0;
}


.btn-noback, .btn-noback:hover, .btn-noback:active:focus, .btn-noback:target{
    background: none;
    height: 45px;
    width: 160px;
    border: 1px solid #5D99CA;
    color:black;
    border-radius: 0px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
}

.btn-second, .btn-second:active:focus {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
    box-shadow: none;
    outline: 0;
}

.icon-right{
    float:right;
    vertical-align: middle;
    top:4px;
}

.black{
    color: black;
}

.block-white{
    height: 70px;
    margin-top: 38px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #CECECE;
    padding: 2rem 2rem;
    vertical-align: middle;
}

.block-white-title{
    font-size: 24px;
    line-height: 28px;
}

.block-white-subtitle{
    font-size: 14px;
    line-height: 16px;
    color:#898989;

}

.block-white .form-group{
    margin-top: 0;
}

.breadcrumb .active, .pagination .active{
    border-left: none;
}

/* SEARCH FIELD */
.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter, .contenttype{
    font-size: 14px;
    line-height: 16px;
    color:#898989;
    padding: 30px 0px 24px 0px;
}
.contenttype{
    padding-right: 12px;
}

.searchfield {
    background: #ffffff url("../svg/search.svg") no-repeat 169px center;
    background-size: 20px 20px;
    width: 200px;
    height: 36px;
    border: 1px solid #F2F2F2;
    padding-right: 30px;
    padding-left: 15px;
    float: right;
}

.searchfield::placeholder {
    height: 19px;
    width: 43px;
    opacity: 0.5;
    color: #535353;
    font-size: 14px;
    line-height: 19px;
}

.dropdown-search {
        background: #ffffff  url("../svg/dropdown.svg")  no-repeat 150px center;
    background-size: 20px 20px;
    width: 180px;
    height: 36px;
    border: 1px solid #F2F2F2;
    padding-right: 30px;
    padding-left: 15px;
    float: right;
    margin-right: 25px;
    -webkit-appearance:none;
    color: #535353;
    font-size: 14px;
    border-radius: 0px;
}

.dropdown-settings{
    background: #ffffff url(../svg/dropdown.svg) no-repeat 250px center;
    background-size: 20px 20px;
    width: 280px;
    height: 36px;
    padding-right: 30px;
    padding-left: 15px;
    float: left;
    -webkit-appearance: none;
    color: #535353;
    font-size: 14px;
    border-radius: 0px;
}


.dropdown-search option{
    color: #535353;
    font-size: 14px;
}

#count_projects_bar {
    color: #333333;
    font-weight: bolder;
    padding: 12px;
}
/* END OF SEARCH FIELD */

.recent-projects{
    vertical-align: middle;
    font-size: 13px;
    line-height: 20px;
}

.recent-projects:first-child{
    padding-left: 0;
    padding-right: 0;
}

.recent-projects a{
    text-decoration: underline;
    color: black;
}

.supertitle{
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    font-weight: bold;
}

.undertitle{
    margin-top: 20px;
}
.form-control-login, .form-control-login:hover, .form-control-login:focus{
    width: 300px;
    margin: 0 auto;
    border: 1px solid #9B9B9B;
    height: 36px;
    border-radius: 0px;
    box-shadow: none;
}

.form-group{
    margin-top: 20px;
}

.btn-link{
    margin-top: 20px;
    font-weight: bold;
    color:#535353;
}

.margin-top-50{
    margin-top: 50px;
}

.form-forgot-field, .form-settings-field{
    float: left;
}

.form-settings-field, .form-settings-field:hover, .form-settings-field:focus{
    width: 350px;
    float: left;
}

.form-settings-field .btn-save{
    margin-top: 20px;
    margin-right: 70px;
}

.form-settings-field input, .form-settings-field input:hover , .form-settings-field input:focus{
    width: 280px;
    margin: 0 auto;
    border: 1px solid #9B9B9B;
    height: 36px;
    border-radius: 0px;
    box-shadow: none;
}

.success{
    color: rgba(107,175,28,0.8);
}

td >.assignee{
    color:#898989;
    text-transform: capitalize;
}

td > .assignee:before{
    content: ', ';
}

td > .assignee:first-child:before{
    content: '';
}
.more {
    color: #898989;
}


/* Project details */
#project-details{
    left: 140px;
    top: 143px;
    right: 30px;
    height: 209px;
    transition: all 0.3s linear;
}

.project-title{
    color: #898989;
    font-size: 14px;
    line-height: 16px;
}

.project-detail a{
    color: #000000;
    font-size: 14px;
    line-height: 19px;
}

#project-name{
    position: absolute;
    left: 170px;
    top: 173px;
}

#name-project{
    position: absolute;
    left: 185px;
    top: 194px;
}

#project-description{
    position: absolute;
    left: 170px;
    top: 233px;
    display: none;
}

#description-project{
    position: absolute;
    left: 182px;
    top: 254px;
    display: none;
    width:38%;
}

#project-code{
    position: absolute;
    left: 34.17%;
    top: 173px;
}

#code-project{
    position: absolute;
    left: 35.35%;
    top: 194px;
}

#client-name{
    position: absolute;
    left: 55.12%;
    top: 173px;
}

#name-client{
    position: absolute;
    left: 56.03%;
    top: 194px;
}

#contact-person{
    position: absolute;
    left: 55.12%;
    top: 233px;
    display: none;
}

#user-icon{
    position: absolute;
    left: 56.26%;
    top: 261.5px;
    display: none;
}

#contact-name{
    position: absolute;
    left: 57.95%;
    top: 259px;
    display: none;
}

#phone-icon{
    position: absolute;
    left: 56.26%;
    top: 286px;
    display: none;
}

#contact-phone{
    position: absolute;
    left: 57.95%;
    top: 283px;
    display: none;
}

#email-icon{
    position: absolute;
    left: 56.26%;
    top: 309px;
    display: none;
}

#contact-email{
    position: absolute;
    left: 57.95%;
    top: 307px;
    display: none;
}

#link{
    position: absolute;
    right: 21.81%;
    top: 173px;
}

#world-icon{
    position: absolute;
    right: 21.57%;
    top: 202px;
}

#link-world{
    position: absolute;
    right: 20.71%;
    top: 199px;
}

#t-icon{
    position: absolute;
    right: 21.73%;
    top: 226px;
}

#link-t{
    position: absolute;
    right: 20.71%;
    top: 223px;
}
/* buttons */
.blue-button{
    height: 45px;
    background-color: #5D99CA;
    border: none;
}

.button-content{
    height: 18px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
}

/* files button */
#button-files{
    width: 85px;
    position: absolute;
    right: 360px;
    top: 277px;
}

#paperclip-icon{
    position: absolute;
    left: 15px;
    top: 13px;
}

#files-button{
    position: absolute;
    left: 38px;
    top: 14px;
}

/* people button */
#button-people{
    width: 111px;
    position: absolute;
    right: 224px;
    top: 277px;
}

#people-icon{
    position: absolute;
    left: 15px;
    top: 16px;
}

#people-button{
    position: absolute;
    left: 50px;
    top: 14px;
}

/* pdf button */
#button-pdf{
    width: 139px;
    position: absolute;
    right: 60px;
    top: 277px;
}

#pdf-icon{
    position: absolute;
    left: 15px;
    top: 13px;
}

#pdf-button{
    position: absolute;
    left: 49px;
    top: 14px;
}

/* release overview */
.yellow-button{
    height: 18px;
    width: 95px;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
}

#addrelease{
    position: absolute;
    left: 155px;
    margin-top: 30px;
}

#release-button{
    position: absolute;
    left: 15px;
    top: 14px;
}

#release-plus{
    position: absolute;
    left: 130px;
    top: 15px;
}

/* release table */
#release-overview{
    margin-top: 101px;
}

.black-button{
    height: 15px;
    width: 50px;
    background-color: #000000;
    border: none;
    display: block;
}

.black-button-up{
    background: #000000 url('../svg/More info up.svg') no-repeat center !important;
    position: absolute !important;
    top: 415px !important;
    left: 52.2%;
}

#black-button-down{
    background: #000000 url('../svg/More info Down icon.svg') no-repeat center;
    position: absolute;
    top: 332px;
    left: 52.2%;
}

#arrow{
    margin: 3px;
    height: 9px;
    width: 15px;
}

.black-button-up, #black-button-down, #button-files, #button-people, #button-pdf, .show {
    transition: all 0.3s linear;
}

.results > thead > tr > th > a {
    color: #898989;
}

.under-details{
    margin-top: 30px;
    margin-bottom: 30px;
}