html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    height: 100%;
    width: 110px;
    color: #fff;
    background-color: #000000;
    z-index: 1;
}

#logo_iav {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

#navbar_top {
    position: fixed;
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #333333;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0 -1px 0 0 rgba(49,61,79,0.5);
}

#user a {
    color: #fff;
}

#user {
    float: right;
    padding-top: 26px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin-left: 110px;
}

#dropdown_arrow {
    margin-left: 10px;
}

#sidebar_object {
    text-align: center;
    padding-top: 25px;
    width: 100%;
    height: 91px;
}

#sidebar_object a {
    color: #fff;
    font-size: 14px;line-height: 30px;
}

#sidebar_object a:hover {
    text-decoration: none;
}


#sidebar_object:hover {
    border-left: 10px solid #fff;
}

.active {
    border-left: 10px solid #fff;
}



/* TIJDELIJK: The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.requirement-block{
    margin-top: 10px;
    padding:2rem 4rem ;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.requirement-row{
    border-bottom: 1px solid grey;
}

.requirement-row:last-child{
    border-bottom: none;
}

.feature-block{
    padding: 2rem 4rem;
    min-height: 110px;
}

.feature-block:first-child{
    padding-top: 1rem;
}

.header-1{
    font-size: 36px;
    margin-top: 22px;
    margin-bottom: 11px;
}

.header-3{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 11px;
}

.status{
    padding: 3px 7px;
    border-radius: 80px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    vertical-align: super;
}

.header-status{
    font-size: 24px;
    padding: 5px 9px;
    border-radius: 100px;
}

.status_In{
    background-color: #2ab27b;
    border-color: #259d6d;
}

.status_Op{
    background-color: #cbb956;
    border-color: #c5b143;
}
.status_edit{
    display: block;
    color:black;
    background-color: white;
    border:2px solid black;
}

.status_Te{
    background-color: #428BCA;
}

.status_Cl{
    background-color: grey;
}

.center{
    text-align: center;
}

.feature{
    background-color: #f3f3f3;
    color: black;
}

label{
    font-weight: bold;
}

.table-center td, .table-center th{
    text-align: center;
}