.settings-icon{
    background: url("../svg/settings.svg") no-repeat 0px center;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-left: -2px;
    top:5px;
}

.logout-icon{
    background: url("../svg/logout.svg") no-repeat 0px center;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    top:5px;
}

.error-icon{
    background: url("../svg/error.svg") no-repeat 0px center;

}

.check-icon {
    background: url("../svg/check.svg") no-repeat 0px center;
}

.error-icon, .check-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 18px;
    margin-left: 10px;
    margin-top: 2px;
}

.block-icons{
    width: 30px;
    background-size: 15px;
    margin-top: -10px;
    font-style: normal;
    padding-left: 10px;
    padding-top: 2px;
}
.user-icon{
    background: url("../svg/user.svg") no-repeat 0px center;
}

.mail-icon{
    background: url("../svg/mail.svg") no-repeat 0px center;
}

.tel-icon{
    background: url("../svg/phone.svg") no-repeat 0px center;
}

.word-icon{
    background: url("../svg/world.svg") no-repeat 0px center;
    background-size: 15px;
}

.text-icon{
    background: url("../svg/text.svg") no-repeat 0px center;
}

.cross-icon{
    background: url("../svg/cross.svg") no-repeat 0px center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}






