@page {
    margin: 100px 25px;
}
.header {
    position: fixed;
    left: 0px;
    top: -52px;
    height: 50px;
    margin: 0;
}
.footer {
    position: fixed; bottom: -95px; left: 0px; right: 0px; height: 50px;
}
.footer .pagenum:after { content: counter(page); }

p { page-break-after: always;}
p:last-child, span { page-break-after: avoid; page-break-inside: avoid; }
body {
    font-family: 'Roboto', sans-serif;
}

.feature-table { page-break-inside:auto !important; page-break-after:auto !important;margin-bottom: 0 !important;}


.feature-table > .project-description{
    width: 670px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    vertical-align: middle;
    page-break-inside: avoid !important;
    margin: 0;
}
.feature-table .left{
    width: 270px;
    display: inline-block;
    white-space: normal;
    text-align: left;

}

.feature-table .right{
    width: 400px;
    display: inline-block;
    white-space: normal;
}



.no-break{
    page-break-inside: avoid;
    margin-bottom: 2rem;
}

.line-before{
    page-break-before: always;
}

.line-break{
    page-break-after: always;
}

hr {
    color: rgba(151,151,151,0.23);
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

.logo-footer {
    height: 40px;
    padding-left: 44px;
}
.footer-name{
    padding-left: 10px;
}

.h1 {
    color: #000000;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 41px;
}

.h2 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
}

.pagenum{
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
    float:right;
    line-height: 40px;
}

.pagenum:after{
    font-weight: bold;
}

/* PAGE 1 */
.logo-p1 {
    position: fixed;
    height: auto;
    width: auto;
    top: 198px;
    float:right;
    max-height: 200px;
    max-width: 200px;
}

.h1-p1 {
    position: fixed;
    height: 82px;
    width: 288px;
    top: 198px;
    left: 50px;
    color: #000000;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 41px;
}

.h2-p1 {
    position: fixed;
    text-transform: uppercase;
    top: 275px;
    left: 50px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 5px;
}

.h3-p1 {
    position: fixed;
    top: 320px;
    left: 50px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.h4-p1 {
    position: fixed;
    top: 345px;
    left: 50px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
}

.project-info-p1 {
    position: absolute;
    bottom: 0px;
}

.project-info-left {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.project-info-right {
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: right;
}

.project-info-right-ab{
    position: absolute;
    right: 28px;
}

.project-info-right-des{
    padding-right: 28px;
}
/* END OF PAGE 1 */

/* PAGE 3 */
.content-p3 {
    margin-top: 89px;
}

.content-title {
    position: relative;
    width: 100%;
    right: 69px;
    margin-left: 19px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.content-subtitle {
    margin-left: 39px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}


#disable-font {
    font-family: initial;
}

#content-title-font {
    font-family: 'Roboto', sans-serif;
    margin-right: 168px;
}
/* END OF PAGE 3 */

/* PAGE 4 */
.project-description {
    color: #000000;
    font-size: 14px;
    line-height: normal;
    text-transform: none;
}

.bold-text-p4 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 13px;
}

.responsibility-p4 {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.company-p4 {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 13px;
}

.non-cursive{
    font-style: normal;
}

.no-break h1{
    margin-top: 2rem;
}

.prepared{
    text-transform: capitalize;
}

.project-description td:first-child{
    width: 200px;
}

/* END OF PAGE 4 */