@page { margin: 100px 25px; }
header { position: fixed; top: -60px; left: 0px; right: 0px; height: 50px; }
footer { position: fixed; bottom: -95px; left: 0px; right: 0px; height: 50px; }
p { page-break-after: always;}
p:last-child, span { page-break-after: avoid; }

.line-break { page-break-after: always !important;}

body {
    font-family: 'Roboto', sans-serif;
}

.no-break{
    page-break-inside: avoid;
    margin-bottom: 2rem;
}

hr {
    color: rgba(151,151,151,0.23);
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

.logo-footer {
    height: 40px;
    width: auto;
    padding-left: 44px;
    top: 0;
}
.footer-name{
    padding-left: 10px;
    vertical-align: middle;
}

.h1 {
    color: #000000;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 41px;
}

.h2 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
}


footer .pagenum:after {
    content: counter(page);
}

body .content-pagenum a:before{
    content: leader('.') target-counter(attr(href url), page, decimal);
}

.pagenum{
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
    float:right;
    line-height: 40px;


}

.pagenum:after{
    font-weight: bold;


}

/* PAGE 1 */
.logo-p1 {
    position: fixed;
    height: auto;
    width: auto;
    top: 198px;
    float:right;
    max-height: 200px;
    max-width: 200px;
}

.h1-p1 {
    position: fixed;
    height: 82px;
    width: 288px;
    top: 198px;
    left: 50px;
    color: #000000;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 41px;
}

.h2-p1 {
    position: fixed;
    text-transform: uppercase;
    top: 275px;
    left: 50px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 5px;
}

.h3-p1 {
    position: fixed;
    top: 320px;
    left: 50px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
}

.project-info-p1 {
    position: absolute;
    bottom: 0px;
}

.project-info-left {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.project-info-right {
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: right;
}

.project-info-right-ab{
    position: absolute;
    right: 28px;
}
/* END OF PAGE 1 */

/* PAGE 3 */
.content-p3 {
    margin-top: 89px;
}

.content-title {
    position: relative;
    width: 100%;
    right: 69px;
    margin-left: 19px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.content-subtitle {
    margin-left: 39px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.content-pagenum {
    position: fixed;
    text-align: right;
    margin-right: -80px;
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
}

#disable-font {
    font-family: initial;
}

#content-title-font {
    font-family: 'Roboto', sans-serif;
    margin-right: 168px;
}
/* END OF PAGE 3 */

/* PAGE 4 */
.project-description {
    color: #000000;
    font-size: 14px;
    line-height: normal;
    text-transform: none;
}

.bold-text-p4 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 13px;
}

.responsibility-p4 {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
}

.company-p4 {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 13px;
}

.non-cursive{
    font-style: normal;
}

.no-break h1{
    margin-top: 2rem;
}

.prepared{
    text-transform: capitalize;
}

.project-description td:first-child{
    width: 200px;
}

.feature-description td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.features{
    margin-bottom: 20px;
}

/* END OF PAGE 4 */