.navbar{
    background: black;
    border-radius: 0;
    border: none;

}

.navbar > .container-fluid{
    margin: 1rem auto 0;
}

.navbar-brand{
    padding: 10px 15px;
}

.navbar-brand img{
    height: 100%;
}

.navbar .navbar-right{
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:white;
    padding-top: 15px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    border-bottom: 10px solid white;
    padding-bottom: 10px;
}

.avatar-profile > a{
    border-bottom: none !important;
    padding-bottom: auto;
}