.container {
  padding: 10rem 1rem;

  .modal-content {
    width: 100%;
  }
}

.no-mobile {
  display: none !important;
}

.clientdetails {
  #project-details > #block-show {
    div {
      margin: 7px auto;
    }
  }
}


.breadcrumb {
  width: 66.66666667%;
  line-height: 22px;
  font-size: 14px;
  height: auto;
}

#project-edit {
    position: relative;
    margin-top: -5rem;
    float: right;
    top: 0;
    right: 0;
}

.block-white {
  text-align: center;

  > div:last-of-type {
    margin: 20px auto 0;
  }
}

.dropdown-search {
  width: 200px;
  background: #ffffff url("/../svg/dropdown-2.svg") no-repeat 175px center;
  background-size: 12px;
}

.search {
  margin: 10px auto;
  text-align: center;
  position: relative;
  display: block;
}
